page-day-book {
  
  }
  
  
  h2 {
      color: #e75116;
      font-size: 16;
  }
  
  .masters {
      background-color: #7bcfff;
      // background: linear-gradient(to bottom, #7bcfff 100%, #fff, 0%);
    }
  
  .secondary {
      background-color: #9ed5ff;
    }
  
    .bg {
      background-color: -webkit-linear-gradient(-55deg, #209deb 35%, #e9b44c 100%) !important;      
      // background: -webkit-linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%) !important;      
    }
  
    .border-shade {
      box-shadow: 3px 7px 7px #e9b44c;
    }
  